body{
  font-family: 'Lobster Two', cursive;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(124, 5, 21);
}

#title{
  text-align: center;
}

header{
  background-image: url("háttérpizza.jpg");
}

footer{
  background-color: rgb(6, 129, 53);
}