body{
  font-family: 'Lobster Two', cursive;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(124, 5, 21);
}

#title{
  text-align: center;
  font-size: 400%;
  background-color: green;
  color: rgb(255, 0, 0);
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

header{
  background-image: url("háttérpizza.jpg");
}

footer{
  background-color: green;
}