header {
  background-image: url("háttérpizza.jpg");
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: green;
  padding: 20px;
  font-size: 150%;
  border-radius: 50%;
  margin-top: 50px;
}

body {
  font-family: "Lobster Two", cursive;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(124, 5, 21);
}

#title {
  display: inline-flex;
  font-size: 1000%;
  background-color: green;
  color: rgb(255, 0, 0);
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255),
    1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 0, 0);
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
}

li a {
  font-size: 50px;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

.text_picture {
  display: flex;
  flex-direction: row;
}

.welcome_text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  font-size: 200%;
}

#outdoorPic{
  margin-top: 100px;
  margin-left: 150px;
}

#video{
  display: flex;
  justify-content: center;
}

table{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 50px;
  border: solid 10px;
  border-radius: 10%;
  font-size: 200%;
  background-color: rgb(231, 149, 101);
}

#phoneNumber{
  font-size: 400%;
}

.order{
  background-color: rgb(231, 149, 101);
  font-size: 200%;
}

.orderOption{
  margin-left: 250px;
  padding-top: 10px;
  padding-bottom: 10px; 
}